
<h1>Table data here </h1>

  <table style="width:100%">

    <body>
      <form>
        <th>AnnouncementId</th>
              <input type="text" [(ngModel)]="username" name="username" placeholder="Id">
          <button type="submit" (click)="clickEvent()">Submit</button>
          <th>CategoryCode</th>
              <input type="text" name="CategoryCode" id="CategoryCode" [(ngModel)]="CategoryCode" placeholder="CategoryCode">
          <th>CategoryName</th>
                  <input type="text" name="CategoryName" id="CategoryName"  [(ngModel)]="CategoryName" placeholder="CategoryName">
      </form>
  </body>
    <!-- <form action="" method="get">
      <label for="Id">ID</label>
      <input type="text" id="ID" name="ID">
      <input type="button" value="Submit">
    </form> -->
    <!-- <tr>
      <td>Emil</td>
      <td>Tobias</td>
      <td>Linus</td>
    </tr>
    <tr>
      <td>16</td>
      <td>14</td>
      <td>10</td>
    </tr> -->
    <!-- <div class="container">
        <div class="rows">
            <ng-container *ngFor="let item of oracleData">
                <div class="show">
                    <p>{{item.AnnouncementId}}</p>
                    <p>{{item.CategoryCode}}</p>
                    <p>{{item.CategoryName}}</p>
                </div>

            </ng-container>
        </div>
    </div> -->
  </table>
