
<!-- About Us Area Start -->
<body>
    <div class="container" >
        <div class="col-12 col-lg-12">
            <div class="about mb-1" id="ABOUT">
                <h1 class="u-custom-font u-text u-text-palette-4-base u-title u-text-2">Who we are</h1>
                <p> Mastek is an enterprise digital & cloud transformation specialist that engineers excellence for customers across 40
                    countries, including the UK, Europe, US, Middle East, Asia Pacific and India. We help enterprises navigate the digital
                    landscape and stay competitive by unlocking the power of data, modernising applications and accelerating digital
                    advantage for our customers.
                </p>
                
                <a href="" class="u-btn u-button-style u-palette-4-base u-btn-1" target="_blank">Click For more
                    Information</a>
            </div>
        </div>
    </div>
</body>