<div class="container-fluid">
    <div class="mx-auto card bg-light">
        <div class="card-body">
            <h1 class="u-custom-font u-text u-text-palette-4-base u-title u-text-2">Mastek vehicle services </h1>
            
            <hr>

            <div class="card-columns mx-auto d-flex justify-content-center col-12">



                <div class="card text-center col-4">
                    <div class="card-body">
                        <img class="card-img-top" src="../../assets/Kia_Telluride.jpg" alt="Card image cap" width="100%">
                        <h5 class="card-title">Card 1</h5>
                        <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>

                <div class="card text-center col-4">
                    <div class="card-body">
                        <img class="card-img-top" src="../../assets/Nissan-Rogue.jpg" alt="Card image cap">

                        <h5 class="card-title">Card 1</h5>
                        <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>

                <div class="card text-center col-4">
                    <div class="card-body">
                        <img src="../../assets/Toyota-4Runner.jpg" alt="Card image cap" width="100%">

                        <h5 class="card-title">Card 2</h5>
                        <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>

                



            </div>
            <br>
            <div class="card-columns mx-auto d-flex justify-content-center col-12">



                <div class="card text-center col-4">
                    <div class="card-body">
                        <img src="../../assets/chevrolet-camaro.jpg" alt="Card image cap" width="100%">
                        <h5 class="card-title">chevrolet-camaro</h5>
                        <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            
                <hr>
                
                <div class="card text-center col-4">
                    <div class="card-body">
                        <img src="../../assets/honda_civic.jpg" alt="Card image cap" width="100%">

                        <h5 class="card-title">honda_civic</h5>
                        <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <br>
                <div class="card text-center col-4">
                    <div class="card-body">
                        <img src="../../assets/gmc_acadia.jpg" alt="Card image cap" width="100%">

                        <h5 class="card-title">gmc_acadia</h5>
                        <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<body>
    <div class="container">
        <div class="col-12 col-lg-12">
            <div class="about mb-1">


            </div>
        </div>
    </div>



    <!-- <div class="info">

        <a href="" class="u-btn u-button-style u-palette-4-base u-btn-1" target="_blank">Click For more
            Information</a>

    </div> -->
</body>