/* body{
  
    background-color: aquamarine;
    /* background: url(../../assets/cars.jpg); */
    /* background-size: cover; */
    /* background-position: center;
    background-repeat: no-repeat; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* height: 100%;
    width: 100%;

}
.contact{
    float: left;
    top: 60%;
    left: 70%;
    background-image: url(../../assets/cars2.jpg);
/* } */ 

